# Ignore archive folder
archive/
swm_env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
/output/
reports/figures/

# Virtual environments
.venv/
swm_env/
venv/
env/
*.venv
.env/

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.bak